:root {
  --color-primary: #7b3bff;
  --color-primary-hover: #6528e6;
  --color-primary-muted: #b794f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f3f4f6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
